@font-face {
  font-family: "Outfit";
  src: url(font/Outfit-Black.ttf) format("truetype") url(font/Outfit-Bold.ttf)
    format("truetype") url(font/Outfit-ExtraBold.ttf) format("truetype")
    url(font/Outfit-ExtraLight.ttf) format("truetype")
    url(font/Outfit-Light.ttf) format("truetype") url(font/Outfit-Medium.ttf)
    format("truetype") url(font/Outfit-Regular.ttf) format("truetype")
    url(font/Outfit-SemiBold.ttf) format("truetype") url(font/Outfit-Thin.ttf)
    format("truetype");
}

* {
  overflow-x: none;
  font-family: "Outfit", sans-serif;
}

:root {
  --background-color: #ff5424;
  --text-color: #f4f1f1;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background-color);
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  color: var(--text-color);
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.button-menu {
  position: fixed;
  top: 5svw;
  left: 5svw;
  width: 7svw;
  height: 7svw;
  background-color: var(--text-color);
  z-index: 100;
  transition: all 0.4s;
}

.button-menu img {
  width: 7svw;
  height: 7svw;
  transition: all 0.4s;
}

nav {
  position: fixed;
  top: 0;
  left: -200svw;
  width: 100svw;
  height: 60svh;
  background-color: var(--text-color);
  z-index: 9;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  display: flex;
  padding: 85svw 0 5svw 0;
}

.menu-element {
  display: flex;
  flex-direction: line;
  background-color: var(--text-color);
  width: 100svw;
  height: fit-content;
  align-items: center;
  gap: 5svw;
  color: var(--background-color);
  border-top: 1px solid var(--background-color);
  padding: 3svw 0;
  padding-left: 16svw;
}

.menu-element:active {
  background-color: var(--background-color);
  color: var(--text-color);
}

.menu-element > div {
  font-size: 4svw;
}

h3 {
  font-weight: 400;
  font-size: 8svw;
  width: 60svw;
  margin: 0svw;
}

section {
  height: 100svh;
  display: flex;
  flex-direction: column;
  padding: 7svh 5svw 0 5svw;
  padding-bottom: env(safe-area-inset-bottom);
  overflow: hidden;
}

h1 {
  font-size: 13svw;
}

.landing-squares{
  position: fixed;
  bottom: -12svh;
  left: 0;
  width: 99svw;
  height: 100svh;
}

.landing-text{
  position: fixed;
  bottom: 15svh;
  left: 31svw;
  font-size: 3svw;
  width: 50svw;
}

.landing-pixel{
  position: fixed;
  bottom: 34.5svh;
  left: 29svw;
  width: 29svw;
  height: 29svw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color);
}

.transition-pixel {
  width: 13.5svw;
  height: 13.5svw;
  position: fixed;
  z-index: 0;
  background-color: var(--text-color);
}

.pixel-text{
  font-size: 2.5svw;
  color: var(--text-color);
  z-index: 10;
  padding-top: 20svw;
  padding-left: 2svw;
}

.section-title {
  font-size: 2svh;
  margin: 4svw 0 2svw 0;
}
.section-subtitle {
  font-size: 4svh;
  margin: 1svw 0 0 0;
}

section > p {
  font-size: 25px;
  margin-top: 10svh;
}

.section-line {
  width: 90svw;
  height: 0.1svh;
  background-color: var(--text-color);
  margin: 2svh 0 2svh 0;

}
.pixel-invader {
  width: 70svw;
  height: 70svw;
  margin: 0 auto 0 auto;
}
