@font-face {
  font-family: "Outfit";
  src: url(font/Outfit-Black.ttf) format("truetype") url(font/Outfit-Bold.ttf)
    format("truetype") url(font/Outfit-ExtraBold.ttf) format("truetype")
    url(font/Outfit-ExtraLight.ttf) format("truetype")
    url(font/Outfit-Light.ttf) format("truetype") url(font/Outfit-Medium.ttf)
    format("truetype") url(font/Outfit-Regular.ttf) format("truetype")
    url(font/Outfit-SemiBold.ttf) format("truetype") url(font/Outfit-Thin.ttf)
    format("truetype");
}

* {
  overflow-x: none;
  font-family: "Outfit", sans-serif;
}

:root {
  --background-color: #ff5424;
  --text-color: #f4f1f1;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background-color);
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  color: var(--text-color);
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.button-menu {
  position: fixed;
  top: 5dvw;
  left: 5dvw;
  width: 7dvw;
  height: 7dvw;
  background-color: var(--text-color);
  z-index: 100;
  transition: all 0.4s;
}

.button-menu img {
  width: 7dvw;
  height: 7dvw;
  transition: all 0.4s;
}

nav {
  position: fixed;
  top: 0;
  left: -200dvw;
  width: 100dvw;
  height: 60dvh;
  background-color: var(--text-color);
  z-index: 9;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  display: flex;
  padding: 40dvh 0 5dvh 0;
}

.menu-element {
  display: flex;
  flex-direction: line;
  background-color: var(--text-color);
  width: 100dvw;
  height: fit-content;
  align-items: center;
  padding-left: 10dvh;
  gap: 4dvh;
  color: var(--background-color);
  border-top: 1px solid var(--background-color);
  padding-top: 1.6dvh;
  padding-bottom: 1.6dvh;
}

.menu-element:active {
  background-color: var(--background-color);
  color: var(--text-color);
}

.menu-element > div {
  font-size: 4dvw;
}

h3 {
  font-weight: 400;
  font-size: 4dvh;
  width: 60dvw;
  margin: 0dvw;
}

section {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  margin: 7dvh 5dvw 0 5dvw;
  width: 90dvw;
  overflow: hidden;
}

.landing {
  gap: 5dvh;
  padding-top: 5dvh;
  width: 100dvw;
  margin: 0;
}

h1 {
  font-size: 6dvh;
  margin: 10dvh 0 0 10dvw;
}

.landing-text{
  position: absolute;
  top: 62%;
  left: 31%;
  font-size: 1.5dvh;
  width: 55dvw;
}

.landing-pixel{
  position: fixed;
  top: 47%;
  left: 30.5%;
  width: 13dvh;
  height: 13dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transition-pixel {
  background-color: var(--text-color);
  width: 13dvh;
  height: 13dvh;
  position: absolute;
  z-index: 0;
}

.pixel-text{
  font-size: 1.5dvh;
  margin: 9dvh 0 0 1dvh;
  color: var(--text-color);
  z-index: 10;
}

section > h3 {
  font-size: 2dvh;
  margin: 4dvw 0 2dvw 0;
}
section > h2 {
  font-size: 4dvh;
  margin: 1dvw 0 0 0;
}

section > p {
  font-size: 25px;
  margin-top: 10dvh;
}

.section-line {
  width: 90dvw;
  height: 0.1dvh;
  background-color: var(--text-color);
  margin: 2dvh 0 2dvh 0;

}
.pixel-invader {
  width: 70dvw;
  height: 70dvw;
  margin: 0 auto 0 auto;
}
